
:root{--primary-color:#4caf50; 
    --secondary-color:#fff; 
    --background-color: #f4f4f4;
    --header-color: goldenrod;
}
/*body starts here*/
body{
    background-color: #f4f4f4;
    color: #333;
}

h2{
    color: green;
}
h1::first-line{/*psedue element*/
    background-color: red;
}
.title{
    background-color: red;
}
#title-id{
    background-color: blueviolet;
}
/*Notes*/
h3{
    background-color: yellow;
    color: red;
}
h4{
    background-color: aquamarine;
}
/*<!--google font link-->*/
p{font-size:1.25rem; 
    font-weight: bold; 
    font-style: italic; 
    font-family: ''Roboto', sans-serif;
}
/*button starts here*/
button{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
button:hover{/*psedue element*/
    background-color: #45a049;
}
/*button ends here*/
input{

}
select{

}
textarea{

}
/*body ends here*/

/*header starts here*/
header{
    background-color: var(--header-color);
color: var(--secondary-color);}
nav ul{

}
nav ul li{

}
nav ul li a{
    color: #fff;
}
/*header ends here*/

/*main starts here*/
/*main ends here*/

/*footer starts here*/
footer{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
/*footer ends here*/

